tensorflow
kaggle==1.7.4.5
kagglehub==0.3.12
boto3==1.38.43
dotenv==0.9.9
pandas
gdown
dvc
mlflow==2.2.2
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
streamlit
pytest==8.4.1
-e .